@import "~antd/dist/antd.css";

.LoginPage {
  height: calc(100vh - 64px);
}

.contact {
  margin: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  border: 0.1rem solid gray;
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  width: min-content;
  margin: 0.4rem;
}
.searchInput {
  width: auto;
  margin: 0.4rem;
}

.card__buttons {
  display: flex;
  flex-direction: row;
}
.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.4rem;
}
